# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\programming\Metashape_scripts\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
